alembic==1.7.4
backports.entry-points-selectable==1.1.1
bcrypt==3.2.0
CacheControl==0.12.10
cachy==0.3.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
cleo==0.8.1
click==8.0.1
clikit==0.6.2
colorama==0.4.4
config==0.5.1
crashtest==0.3.1
distlib==0.3.3
filelock==3.4.0
Flask==2.0.1
Flask-Bcrypt==0.7.1
flask-marshmallow==0.14.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
html5lib==1.1
idna==3.3
importlib-metadata==4.8.1
importlib-resources==5.3.0
itsdangerous==2.0.1
Jinja2==3.0.1
keyring==21.8.0
lockfile==0.12.2
Mako==1.1.5
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-sqlalchemy==0.26.1
msgpack==1.0.3
packaging==20.9
pastel==0.2.1
pexpect==4.8.0
pkginfo==1.8.2
platformdirs==2.4.0
poetry==1.1.12
poetry-core==1.0.7
psycopg2==2.9.2
ptyprocess==0.7.0
pycparser==2.21
pylev==1.4.0
PyMySQL==1.0.2
pyparsing==3.0.6
pywin32-ctypes==0.2.0
requests==2.26.0
requests-toolbelt==0.9.1
shellingham==1.4.0
six==1.16.0
SQLAlchemy==1.4.26
tomlkit==0.7.2
typing-extensions==3.10.0.2
urllib3==1.26.7
virtualenv==20.10.0
webencodings==0.5.1
Werkzeug==2.0.1
zipp==3.5.0
